@font-face {
  src: url('/fonts/OpenSans-Regular.woff');
  font-family: Open-Sans;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('/fonts/OpenSans-Bold.woff');
  font-family: Open-Sans;
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Open-Sans, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  font-size: 15px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  border: none;
}

input {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}



/* POPUP */


.popup-backdrop {
  position: fixed;
  z-index: 9;
  background: rgba(0, 0, 0, .6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.popup.visually-hidden + .popup-backdrop {
  display: none;
}

.popup {
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 390px;
  padding: 52px 30px;
  background: #ffffff;
  transform: translateY(-50%) translateX(-50%);
}

.popup-title {
  text-align: center;
}

.popup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.input-group {
  margin-top: 28px;
}

.popup-label {
  font-size: 13px;
}

.input {
  flex-grow: 1;
  padding: 16px 16px 16px 18px;
  background: #F4F7F6;
}

.input:focus {
  outline: 1px solid #B59F5B;
  outline-offset: -1px;
}

.popup-input {
  display: block;
  width: 100%;
}

.popup-radio {
  position: absolute;
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  width: 1px;
  cursor: pointer;
}

.radio-label {
  position: relative;
  cursor: pointer;
}

.radio-label {
  margin-left: 22px;
}

.radio-label:nth-child(n + 3) {
  margin-left: 30px;
}

.radio-label::before {
  position: absolute;
  content: '';
  left: -18px;
  top: 50%;
  width: 16px;
  height: 16px;
  background-image: url("/svg/form-empty-circle.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.popup-radio:checked + .radio-label::before {
  background-image: url("/svg/form-circle.svg");
}

.popup-select {
  position: relative;
  color:rgba(0, 0, 0, .4);
  background-image: url("/svg/form-arrows.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 3%;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  scale: none;
  cursor: pointer;
}

.popup-area {
  box-sizing: border-box;
  font-size: 13px;
  font-family: inherit;
  width: 100%;
  resize: none;
  border: none;
}

.popup-btn {
  margin-top: 28px;
  width: 100%;
}



/* HEADER */


.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding-top: 28px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 180px;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:nth-child(n+2) {
  margin-left: 35px;
}

.header-nav-link {
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-nav-link:hover {
  text-decoration: underline;
}



/* HERO */



.hero {
  position: relative;
  margin-bottom: 62px;
  padding-top: 173px;
  padding-bottom: 126px;
  background-image: url('/images/banner-bg.jpg');
  background-color: #888888;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, .6);
}

.hero-title {
  z-index: 1;
  position: relative;
  max-width: 688px;
  font-size: 45px;
  line-height: 1.66;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}



/* TRENDING */



.section {
  margin-bottom: 64px;
}

.title-2 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}

.trending-title {
  position: relative;
  text-align: center;
  line-height: 1;
}

.title-underlined {
  position: relative;
}

.title-underlined::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 50%;
  display: block;
  height: 3px;
  width: 66px;
  background: #B59F5B;
  opacity: 0.4;
  transform: translateX(-50%);
}

.section-container {
  margin-top: 42px;
}

.trending-container {
  display: flex;
  justify-content: space-between;
  column-gap: 4px;
}

.trending-card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-basis: 25%;
  min-height: 320px;
  padding: 16px 20px;
  background-size: cover;
  background-position: center center;
}

.trending-card:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, .6);
}

.trending-card-1 {
  background-image: url('../images/trend1.jpg');
}

.trending-card-2 {
  background-image: url('../images/trend2.jpg');
}

.trending-card-3 {
  background-image: url('../images/trend3.jpg');
}

.trending-card-4 {
  background-image: url('../images/trend4.jpg');
}

.trending-card-content {
  z-index: 1;
  padding: 38px 32px 36px 32px;
  border: 3px solid rgba(181, 159, 91, 0.6);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  padding-left: 0;
  list-style-type: none;
}

.tag-item {
  margin-right: 18px;
}

.tag-link {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  color: #B59F5B;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.trending-card-title {
  color: #ffffff;
}



/* MAIN */



.columns {
  display: flex;
  justify-content: space-between;
}

.main-article {
  display: flex;
  align-items: flex-start;
  width: 778px;
}

.main-article:nth-child(n+2) {
  margin-top: 60px;
}

.main-article-img {
  flex-shrink: 0;
  width: 381px;
  object-fit: contain;
  object-position: center center;
}

.main-article-content {
  margin-left: 30px;
}

.main-article-tags-link:hover::after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  left: 0;
  height: 2px;
  background: #B59F5B;
  opacity: 0.5;
}

.main-article-title {
  margin-top: 8px;
}

.link:hover {
  color:#B59F5B;
  cursor: pointer;
}

.main-article-info {
  display: flex;
  align-items: center;
  margin-top: 32px;
  font-size: 12px;
  line-height: 1;
}


.date {
  display: block;
  color: #888888;
}

.main-article-author {
  display: block;
  margin-left: 12px;
  font-weight: bold;
}

.main-article-desc {
  margin-top: 48px;
  font-size: 15px;
  line-height: 1.5;
}

.main-article-paragraph {
  display: block;
  margin-top: 10px;
}


/* ASIDE */


.aside {
  width: 272px;
}

.aside-section {
  padding-bottom: 62px;
}

.aside-title {
  position: relative;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 0.7;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.new-posts-title {
  margin-bottom: 46px;
}

.aside-article {
  display: flex;
}

.aside-article:nth-child(n + 3) {
  margin-top: 22px;
}

.aside-article-img {
  flex-shrink: 0;
  width: 70px;
}

.aside-article-content {
  margin-left: 20px;
}

.aside-article-title {
  margin-top: 2px;
  font-size: 14px;
  line-height: 1.3;
  font-weight: bold;
  text-transform: uppercase;
}

.aside-article-date {
  font-size: 12px;
  line-height: 1;
}

.search-form {
  display: flex;
  margin-top: 60px;
}

.btn {
  display: block;
  padding: 17px 24px 17px 24px; 
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #B59F5B;
  cursor: pointer;
}

.btn:hover {
  background-color: #323232;
}

.search-btn {
  background-image: url('/svg/search.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 18px;
}

.mailing-form {
  display: flex;
  flex-direction: column;
}

.follow-btn {
  margin-top: 19px;
}

.aside-tags {
  padding-bottom: 48px;
}

.aside-tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
}

.aside-tags-item {
  margin-right: 5px;
  margin-bottom: 5px;
}

.aside-tags-link {
  display: block;
  padding: 7px 14px;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid #eeeeee;
}

.aside-tags-link:hover {
  border: 3px solid #B59F5B;
}

.aside-themes-title {
  margin-bottom: 44px;
}

.aside-themes-item {
  box-sizing: border-box;
  display: block;
  height: 29.5px;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
}

.aside-themes-list {
  margin-top: 40px;
}

.aside-themes-item:nth-child(n+2) {
  margin-top: 18px;
}

.aside-themes-counter {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  color:#B59F5B;
  transform: translateY(-4px);
}



/* CRAFTS */

.crafts-title {
  text-align: center;
  line-height: 1;
}

.crafts-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  row-gap: 44px;
}

.crafts-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: calc(33.33% - 44px);
}

.crafts-card-img {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  display: block;
  width: 100%;
  margin-bottom: -32px;
  padding: 0px 24px;
  object-fit: cover;
  object-position: center;
}

.crafts-card-content {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  padding: 52px 20px 22px 20px;
  border: 3px solid rgba(181, 159, 91, 0.6);
}

.crafts-card-desc {
  margin-top: 2px;
  line-height: 1.5;
}

.crafts-link {
  color: #B59F5B;
}

.crafts-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.crafts-card-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.crafts-card-price {
  line-height: 1;
  font-weight: bold;
}

.crafts-card-price::after {
  content: ' ₽'
}

.crafts-card-price-old {
  font-size: 14px;
  text-decoration: line-through;
}

.crafts-card-price-actual {
  font-size: 20px;
}

.crafts-card-btn {
  padding-right: 28px;
  padding-left: 28px;
}

/* FOOTER */


.footer {
  padding-bottom: 41px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
  background: #f4f7f6;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
}

.socials-item:nth-child(n+2) {
  margin-left: 26px;
}

.social-link-dribble {
  background-image: url('/svg/001-dribbble.svg');
}

.social-link-pinterest {
  background-image: url('/svg/002-pinterest.svg');
}

.social-link-tumblr {
  background-image: url('/svg/003-tumblr.svg');
}

.copy {
  display: block;
  margin-top: 74px;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: #999999;
  text-align: center;
}